<!DOCTYPE html>

<html lang="pt-br">

<head>

<meta charset="UTF-8">

<title>Feira Fácil</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='estilo.css') }}">

</head>

<body>

<div class="container">

<h1>🌱 Feira Fácil</h1>

<h2>Enviar Ficha</h2>

<form
action="/ler"
method="POST"
enctype="multipart/form-data">

<label>Escolha uma foto da ficha</label>

<input
type="file"
name="imagem"
accept="image/*"
required>

<button type="submit">

📷 Executar OCR

</button>

</form>

</div>

</body>

</html>