<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="UTF-8">

    <title>Feira Fácil</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='estilo.css') }}">

</head>

<body>

<div class="container">

    <!-- Título da página -->
    <h1>🌱 Feira Fácil</h1>

    <h2>Revisão do Produto</h2>

    <!-- Formulário -->
    <form>

        <!-- Produto -->
        <div class="campo">

            <label>Produto</label>

            <input
                type="text"
                value="{{ dados.produto }}">

        </div>

        <!-- Linha com quantidade e unidade -->
        <div class="linha">

            <div class="campo">

                <label>Quantidade</label>

                <input
                    type="text"
                    value="{{ dados.quantidade }}">

            </div>

            <div class="campo">

                <label>Unidade</label>

                <input
                    type="text"
                    value="{{ dados.unidade }}">

            </div>

        </div>

        <!-- Preço -->
        <div class="campo">

            <label>Preço</label>

            <input
                type="text"
                value="{{ dados.preco }}">

        </div>

        <!-- Botão -->
        <button>

            ✔ Confirmar Produto

        </button>

    </form>

</div>

</body>

</html>